tiktoken
streamlit
watchdog
langchain
langchain-community
langchain-openai
openai
elevenlabs
Flask
numpy
tools
chardet
PyObjC
pyaudio
playsound
zep-python
chromadb==0.4.*
unstructured
unstructured[md]
pydantic==1.*
chardet
wikipedia
google-search-results
jq
mlx
mlx-lm